
.axure {
   background-image: url(../img/bg/background\ 1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   top: 0;
   left: 0;
   z-index: 3;

}
.axure::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.title_auxure {
    width: 700px;
    line-height: 42px;
    font-family: "Raleway";
    font-weight: 400; 
    /* font-size: 36px;  */
    font-size: 2.25rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    margin-bottom: 34px;
    text-align: center;
    

}
.title_auxure::after
{
    content: "";
    width: 170px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 34px auto;
    
}
.description_auxure {
    width: 700px;   
    line-height: 19px;
    margin: auto;
    margin-bottom: 68px;
    font-weight: 400;
    
}
.description_auxure p {
    text-align: center;
    /* font-size: 14px;   */
    font-size: 0.86rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
}
.auxure_link {
    width: 132px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 1);
    margin: auto;
    padding: 11px 26px;
    cursor: pointer;
    transition: 0.2s;
    left: 0;
    animation-name: link;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.auxure_link:hover {
    background-color: #EC7979;
    animation-play-state: paused;

}

@keyframes link {
0%{

}
100%{
    transform: scale(1.1);
}
}

@media (max-width:1024px)
{
    .auxure_link {
        width: 120px;}
}

@media (max-width:933px)
{
    .auxure_link  {
        width: 100px;
padding: 8px 18px;

    }
}
@media (max-width:909px) {
    .title_auxure {
        width: 400px;}
    .description_auxure {
            width: 400px;}
}

