.about {

}

.title {

    width: 700px;
    line-height: 42px;
    font-family: "Raleway";
    font-weight: 400; 
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #212121;
    margin: auto;
    margin-bottom: 34px;
    text-align: center;
}
.title::after
{
    content: "";
    width: 170px;
    height: 1px;
    background-color: #ec7979;
    display: block;
    margin: 34px auto;
}

.description {
    width: 700px;   
    line-height: 19px;
    margin: auto;
    margin-bottom: 68px;
    font-weight: 400;

}

.description p { 
    text-align: center;
    font-size: 0.86rem;
    font-weight: 400;
    color: #86878b;

}
.awesome-wrap {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 -15px;

}

.awesome-item {
    width: 350px;
    margin: 0 15px;
  
}

.awesome-item-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 16px;
    
}


.awesome-block {
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    color: #E72424;
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;   
    border-radius: 50px; 
    justify-content: center;
    align-items: center;
    font-size: 1.87rem;
    font-weight: 600;

}

.awesome-item-text {

}
.awesome-item-text p {
    text-align: center;
    font-size: 0.86rem;
    font-weight: 400;
}    


@media (max-width:1139px)
{ 
.awesome-item {
    width: 330px;
}
}
@media (max-width:1079px)
{
    .awesome-item {
        width: 310px;      
    }

}
@media (max-width:1024px)
{
    .awesome-block {
        width: 50px;
    height: 50px;
    }
}
@media (max-width:1019px)
{
    .awesome-item {
        width: 270px;      
    }
   
}
@media (max-width:909px) {
    .awesome-wrap {
        justify-content: space-around;
    }
    .description {
        margin-bottom: 45px;
        width: 400px;
        text-align: center;}
    .title {
            width: 400px;
            text-align: center;
        }

    .awesome-item {
        width: 280px;
        margin-bottom: 20px;
        }
    }


    @media (max-width:430px){
        .description {
            width: 280px;
            }
        .title {
                width: 280px;
            }
    }
   
           
