form {
    
}
label {
    display: block;
    line-height: 19px;
    color: #BDBDBD;
    }

.form-contacts-wrap {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 -15px;
}

.form-left-wrap {    
    margin: 0 15px;
    width: 40%;
    margin-bottom: 37px;

}
.name {
    margin-bottom: 32px; 
}
.email {
    margin-bottom: 32px;
}
.password {
    margin-bottom: 32px;
}


.form-right {
    margin-bottom: 37px;
    margin: 0 15px;

}
textarea {
    display: block;
    width: 450px;
    height: 203px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #BDBDBD;
    font-family: "Open Sans";
    font-size: 0.94rem;
    line-height: 20px;
    resize: none;
    margin-bottom: 69px;
    outline-color: #EC7979;
   
}

 .contuct-us__btn {
    display: block;
    width: 166px;
    height: 50px;
    background-color: #EC7979;
    font-size: 0.94rem;
    font-weight: 600;
    font-family: "Open Sans";
    color: white;
    margin: auto;
    border: none;
    cursor: pointer;
    transition: 0.2s;

 }
 .contuct-us__btn:hover {
     transform: scale(1.1);
 }

 @media (max-width:1024px)
 {
    .contuct-us__btn {
        width: 156px;
        height: 40px;
    }
 }

 @media (max-width:933px)
 {
    .contuct-us__btn {
        width: 146px;
        height: 30px;
    }
 }

 @media (max-width:852px) {
    .form-contacts-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    textarea {
        width: 298px; 
 }
 .form-left-wrap {
    width: 298px;
 }
}
@media (max-width:430px) {
    textarea {
        width: 280px; 
 }
 .form-left-wrap {
    width: 280px;
  
}
.contuct-us__btn {
    width: 280px;
   
}

}