p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navigation-header {
    background: #000;
    padding: 15px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
}
  
.navigation-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.logo {
    margin: 0 15px;
}
.logo-text {
    width: 38px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Raleway";
    color: white;
}

.logo-text p {    
    
}

.logo-text::after {
    content: "it";
    height:30px;
    text-transform: uppercase;
    color: #EC7979;
}
.navigation {

}
.navigation-list {
    width: 353px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;

}
.navigation_list__item {
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: 0.2s;

}
.navigation_list__item:hover {
   border-left: 2px solid rgba(236, 121, 121, 1);
   border-bottom: 2px solid rgba(236, 121, 121, 1);
   transition: 0.2s;

}
.navigation-list__item_link {
    line-height: 21px;
    font-style: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    cursor: pointer;
}

.navigation_block__item:before {
    width: 35px;
    border-left: 2px solid #E72424;
}


@media (max-width:768px)
 
{
.navigation-list {
        display: none;}

}
