
ul {
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;

}
.pricing {
    background-color: #F5F5F5;
}
.pricing-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.pricing-item {
    width: 340px;
    margin: 0 15px;
    transition: 0.2s;

}

.pricing-item:hover {
    box-shadow: 0px 12px 10px 0px rgba(68, 66, 66, 0.3);
    transform: translate(0px, -12px);

}

.pricing-item-plan {
   background-color: #333333;
   line-height: 50px;
   font-weight: 700;
   font-size: 1.25rem;
   text-align: center;
   color: #ffffff;
   margin-bottom: 1px;


}
.pricing-item-price {
background-color: #333333;
line-height: 100px;
font-weight: 700;
font-size: 2.19rem;
text-align: center;
color: #ffffff;
margin-bottom: 3px;
}

.pricing-item-duration {
    background-color: #333333;
    line-height: 50px;
    font-weight: 600;
    font-size: 0.86rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4px;

}
.pricing-item-amount {
    background-color: #ffffff;
    line-height: 40px;
    font-weight: 400;
    font-size: 0.86rem;

    text-align: center;
    color: rgba(134, 135, 139, 1);
    margin-bottom: 4px;

}
@media (max-width:1109px)
{
    
    .pricing-item {
        width: 320px;}
}

@media (max-width:1049px)
{

    .pricing-item {
        width: 300px;}
}
@media (max-width:1009px;){
.pricing-item {
    width: 270px;}
}


@media (max-width:989px)
{
    .pricing-item {
        width: 265px;}
    .pricing-item-plan {
        line-height: 40px;
    }
    .pricing-item-price {
        line-height: 85px;
        }
            
    .pricing-item-duration {
        line-height: 40px;
    }
    .pricing-item-amount{
        line-height: 30px;
    }

}
@media (max-width:909px) {
    .pricing-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .pricing-item {
        width: 298px;
        margin-bottom: 35px;
    }
    }
    @media (max-width:430px){
        .pricing-item {
            width: 280px;
            margin-bottom: 30px;
        }
    }

