.social {
    background-color: rgba(248, 239, 239, 1);
    padding: 14px 0 17px;
    
}

.social-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;

}
.social-block {
    width: 684px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}
.social-block__item {

}

.social-text {
    width: 365px;
    margin: 0 15px;
  
}
.social-title {
    /* font-size: 20px; */
font-size: 1.25rem;
    line-height: 27px;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 14px;
    
}
.social-paragraf p {
    /* font-size: 14px; */
    font-size: 0.86rem;
    line-height: 15px;
    font-weight: 400;
    color: rgba(134, 135, 139, 1);
}

.facebook {
    font-size: 42px;
    /* font-size: 0.86rem; */
        color: rgba(134, 135, 139, 1);
    cursor: pointer;
    transition: 0.2s;
}
.facebook:hover
{
    color: #3b5998;
}

.twitter {
    font-size: 42px;
    /* font-size: 0.86rem; */
    color: rgba(134, 135, 139, 1);
    cursor: pointer;
    transition: 0.2s;
}
.twitter:hover {
color: #00acee;
}
.linkedin {
    font-size: 42px;
    /* font-size: 0.86rem; */
    color: rgba(134, 135, 139, 1);
    cursor: pointer;
    transition: 0.2s;

}
.linkedin:hover {
    color: #0e76a8;
}
.pinterest {
    font-size: 42px;
    /* font-size: 0.86rem; */
    color: rgba(134, 135, 139, 1);
    cursor: pointer;
    transition: 0.2s;

}
.pinterest:hover {
    color: #e60023;
}

.instagram {
    font-size: 42px;
    /* font-size: 0.86rem; */
    color: rgba(134, 135, 139, 1);
    cursor: pointer;
    transition: 0.2s;
}
.instagram:hover {
    color: #000;
}
.stumbleupon {
    font-size: 42px;
    /* font-size: 0.86rem; */
    color: rgba(134, 135, 139, 1);
    cursor: pointer;
    transition: 0.2s;

}
.stumbleupon:hover {
    color: #fd8235;

}
.telegram {
    font-size: 42px;
    /* font-size: 0.86rem; */
    color: rgba(134, 135, 139, 1);
    cursor: pointer;
    transition: 0.2s;

}
.telegram:hover {
    color: #0088cc;
}

@media (max-width:1109px)
{
    .social-block {
        width: 520px;
    }

}
@media (max-width:1024px)
{  
    .social-block {
        width: 490px;}
   .facebook {
        font-size: 32px;
    }
    .twitter {
        font-size: 32px;
    }  
    .linkedin {
        font-size: 32px;
    }   
    .pinterest {
        font-size: 32px;
    }
    .instagram {
        font-size: 32px;
    }
    .stumbleupon {
        font-size: 32px;
    }
    .telegram {
        font-size: 32px;
    }
}

@media (max-width:1009px) {
}
     
    
@media (max-width:913px) {
    .social-block {
        width: 470px;}
   
}

@media (max-width:894px) {
   .social {
        display: none;
    }
}