@import url(../css/awesome.css);
@import url(../css/pricing.css);
@import url(../css/custumers.css);
@import url(../css/auxure.css);
@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/social.css);
@import url(../css/contact-us.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
html {
    font-family: "Open Sans", "Raleway",sans-serif;
}

* {
 box-sizing: border-box;
 text-decoration: none;
 list-style-type: none;
 margin: 0;
 padding: 0;

}

section {
    padding: 80px 0;

}

.container {
max-width: 1170px;
margin: auto;
padding: 0 15px;
position: relative;
z-index: 1;
}



   
